<!--
  Generated template for the MovieFinderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Find a Movie</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <ion-item >
        <ion-input type="text" [(ngModel)]="movieTitle" (keyup)="onFindMovie()" placeholder="Search your favorite Movie..."></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <p *ngIf="noofMovies > 0">{{noofMovies}} found matching your search '{{movieTitle}}'</p>
  <ng-template *ngIf="movieTitle">No movies found matching your search.</ng-template>

  <ion-list>
    <ion-item *ngFor="let movie of movies"(click)="onLookupMovie(movie.id)">
      <ion-avatar  item-start *ngIf="movie.poster_path; else defaultPoster">
        <img src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
      </ion-avatar>
      <ng-template #defaultPoster>
        <ion-avatar  item-start>
          <ion-icon name="nuclear"></ion-icon>
        </ion-avatar>
      </ng-template>
      <h2>{{movie.title}}</h2>
      <p>{{movie.overview}}</p>
    </ion-item>
  </ion-list>
</ion-content>
