<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="videocam" color="danger"></ion-icon> &nbsp; {{ 'Now Showing' | uppercase}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding >
  <ion-list *ngIf="!movieTitle">
    <ion-card *ngFor="let nowShowingMovie of nowShowing$ | async" 
    (click)="onShowMovie(nowShowingMovie.id)" color="light">
      <ion-item color="warning" >
          <b>{{nowShowingMovie.title}} ({{getMovieYear(nowShowingMovie)}})</b>
          <ion-badge item-end color="secondary" >
            {{nowShowingMovie.vote_average | number:'1.2'}}
          </ion-badge>
      </ion-item>
      <img padding src="http://image.tmdb.org/t/p/w500/{{nowShowingMovie.backdrop_path}}" class="post_photo">
    </ion-card>
  </ion-list>
</ion-content>
